
.header h1, .title{
    font-size:3em;
    text-shadow: -3px -3px 3px gray;
}

.form-field{
    
    display:block;
}

.biography{
    font-size:1.5em;
    font-style:italic;
}

.author-image{
    max-width: 350px;
    width:350px;
    border:15px solid maroon;
    box-shadow: -5px -5px 5px gray;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 }