
<h1 class='page-title'>{{book.title}}</h1>

<div class='row'>

    <div class="col-md-6">
        <img src='{{book.cover}}' class='cover-image' />
    </div>
    
    <div class="col-md-6">
        <ul class='meta-list'>
            <li>Author: {{book.author}}</li>
            <li>Price: {{book.price}}</li>
            <li>Rating: {{book.rating}}</li>            
        </ul>
        <hr/>
        <div class='description'>
            {{book.description}}
        </div>
        <hr/>
        <div class='tags'>
            {{book.tags}}
        </div>

    </div>
    


   

</div>
