

    <h1>Add Author</h1>
    
    <form method='post' >
        <label for="name" class='field-label'>Name</label>
        <input type='text' name='name' id='name' class='form-field' placeholder="name" /> 

        <label for="biography" class='field-label'>Biography</label>
        <input type='text' name='biography' id='biography' class='form-field' placeholder="biography" /> 

        <label for="photograph" class='field-label'>photograph</label>
        <input type='text' name='photograph' id='photograph' class='form-field' placeholder="photograph" /> 

        <label for="email" class='field-label'>Email</label>
        <input type='text' name='email' id='email' class='form-field' placeholder="Email" /> 

        <input type='submit' value='Add Author' class='btn btn-primary' />


    </form>


