
        <a href='/authors'>Back to List</a>

        <h1>About <%=author.name%></h1>
        
        <hr/>

        <div class='row'>
            <div class='col-md-4'>
                <img  class='author-image' src='/images/<%=author.photograph%>' />
            </div>
            <div class='biography col-md-8'>
                <%=author.biography%>
            </div>
        
        </div>
    
